<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>University</title>{% endblock %}
</head>

<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->
  <ul class="sidebar-nav">
    {% if user.is_authenticated %}
      <li>User: <a href="{% url 'profile' %}">{{ user.get_username }}</a></li>
      <li><a href="{% url 'homepage' %}">Homepage</a></li>
      <li><a href="{% url 'faculties' %}">Faculties</a></li>
      <li><a href="{% url 'groups' %}">Groups</a></li>
      <li><a href="{% url 'teachers' %}">Teachers</a></li>
      <li><a href="{% url 'lessons' %}">Lessons</a></li>
      <li><a href="{% url 'marks' %}">Marks</a></li>
      <li><a href="{% url 'hometasks' %}">Hometasks</a></li>
      <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
      <li><a href="{% url 'faculties' %}">Faculties</a></li>
      <li><a href="{% url 'teachers' %}">Teachers</a></li>
    {% endif %}
  </ul>
  {% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
  
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
  
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  {% endif %}
</body>
</html>