{% extends "base_generic.html" %}

{% block content %}
    {% if user_data %}
        <h5>Your profile data:</h5>
        <ul>
            {% for key, value in user_data.items %}
                <li> {{key}}: {{value}} </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No client data to show..</p>
    {% endif %}

    <!--{% if form %}

    <h4> To add marks please use form below: </h4>

    {% if form_errors %}
        <h5>{{ form_errors }}</h5>
    {% endif %}

    <form action="/profile/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add mark">
    </form>
    {% endif %}-->
{% endblock %}